<!DOCTYPE html>
<html>
<head>
   <title>hymn jockey</title>
   <link rel = "icon" href="/img/favicon.png">
   <link rel = "stylesheet" href="/css/styles.css">
</head>

<body>
    <h4>Hey, Keep this tab open to let Hymn play music for you</h4>
    <p roomid="<%= room %>" roomname="<%= roomname %>" id="playroom"></p>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io-stream/0.9.1/socket.io-stream.js"></script>
    <!-- <script defer src="https://cdn.jsdelivr.net/npm/@g749/spotify-web-api-node@4.1.0/src/server.min.js"></script> -->
    <!-- <script defer src="/js/jockey/swan.js"></script> -->
    <script defer src="/js/jockey/swan.js"></script>
</body>

</html>
